<div class="navbar">
  <div class="navbar__navigation">
    <h2 class="navbar__title" routerLink="/admin/public-library" routerLinkActive="active">Biblioteca</h2>
    <a class="navbar__link" routerLink="/admin/books" routerLinkActive="active">Mis libros</a>
  </div>
  <div class="navbar__container">
    <div class="navbar__logo">
      <i class="fa-solid fa-user"></i><p class="navbar__user"> {{(nameUser | titlecase) || ''}}</p>
    </div>
    <button class="navbar__btn" routerLink="/auth/login" (click)="logout()">Salir</button>
  </div>
</div>
